// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-question {
  border-left: solid grey 6px;
}

.container-response {
  border-left: solid grey 6px;
}
.margin-left {
  margin-left: 15px;
}

